
section {
    display:flex;
    justify-content: space-around;
    align-items: center;
    flex: 1;
}

img {
  height: 7vh;
  width: 8vw;
}

h1 {
    color: #00BE00;
    text-align: center;
}

h2 {
    color: #00BE00;
}

.blink {
    animation: blinking 5s ease-out;
}
  
/*animate the symbols falling from the top of the app*/
@keyframes blinking {
    0% {
      background-color: #F89003;
    }
    50% {
      background-color:  #00BE00;
    }
    100% {
      background-color: #F89003;
    }
}