
main {
    display: flex;
    justify-content: center;
    flex: 1;
}

p {
    font-size: 5vh;
    color: green;
    font-weight: bold;
    margin-top: 1px;
    margin-bottom: 1px;
}

.red {
    color: red;
}

.orange {
    color: #F89003;
}