
main {
    
    flex: 2;
}

section {
    padding-top: 30px;
    display: flex;
    justify-content: center;
}

input {    
    border: none;
    -webkit-box-shadow: 5px 5px 15px -1px #707070; 
    box-shadow: 5px 5px 15px -1px #707070;
    padding: 10px;
    height: 7vw;
    width: 20vw;
    font-size:20px;
    text-align: center;
    font-weight: bold;
}

button {
    border-radius: 15px;
    border: none;
    background-color: #04a004;
    -webkit-box-shadow: 5px 5px 15px -1px #707070; 
    box-shadow: 5px 5px 15px -1px #707070;
    color: #FEFEFE;
    font-weight: bold;
    padding: 10px 10px 10px 10px;
    font-size: large;
    height: 7vh;
    width: 20vh;
}

/*tablet-size screens*/
@media only screen and (min-width: 767px) {
    button{
        height: 5vh;
        width: 15vh;
    }

    input {
        height: 3vh;
    }
}

/*large screens*/
@media only screen and (min-width: 1150px) {
    button{
        height: 5vh;
        width: 15vh;
    }

    input {
        height: 3vh;
        width: 150px;
    }
}