<div class="app">
  <main *ngIf="!gameOver" class="container">
    <app-header [score]="score"></app-header>
    <app-timer [timer]="timer"></app-timer>
    <app-problem [problem]="displayArray"></app-problem>
    <app-input (getLetter)="getLetter($event)"></app-input>
    <app-used-letters [oldLetters]="currentGuessedLetters"></app-used-letters>
    <app-lives [lives]="gameLives"></app-lives>
    <app-toolbox (restart)="restartGame($event)" (buyTime)="buyTime($event)"></app-toolbox>
  </main>  
  <section *ngIf="gameOver">
    <app-game-over [score]="score"></app-game-over>
  </section>
</div>
